<style type="text/css">
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  line-height: 1.15;
  color: #000;
  max-width: 60em;
}
p, ul, ol, dl { margin-top: 0; margin-bottom: 0; }
li { margin-top: 0; margin-bottom: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font-size: 26pt; margin-top: 20pt; margin-bottom: 6pt; }
h2 { font-size: 16pt; margin-top: 18pt; margin-bottom: 6pt; }
h3 { font-size: 14pt; color: #434343; margin-top: 16pt; margin-bottom: 4pt; }
h4 { font-size: 12pt; color: #666666; margin-top: 14pt; margin-bottom: 4pt; }
a { color: #1155cc; }
</style>
